<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">

    <h1>Cadastro de Shopping</h1>
    <div th:if="${msg != null}" class="alert alert-success" th:text="${msg}"></div>
    <form th:action="@{/shopping/cadastrar}" method="post" th:object="${shopping}">
        <div class="form-group">
            <label>Nome do Shopping</label>
            <input type="text" th:field="*{nm_shopping}" class="form-control">
        </div>
        <div class="form-group">
            <label>Endereço</label>
            <input type="text" th:field="*{endereco}" class="form-control">
        </div>
        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </form>
</div>

</body>
</html>